body.dark-theme {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 38, 38);

  & .left__section-main--container {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 38);
    box-shadow: 0 0 20px black;

    & .btn-main__deleter-all,
    .counter__container,
    .btn-main__creater {
      color: whitesmoke;
      font-size: larger;
      background-color: rgb(60, 59, 59);
      
    }
  }

  & .header {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 45, 67);

    & .header__logo {
      color: rgb(255, 255, 255);
    }

    & .menu {
      background-color: rgb(48, 48, 48);
      

      & .btn--header{
        
        background: rgb(54, 53, 53);
        border-radius: 1rem;
        border: 1px dashed black;
        
      }

    }
  }

  & .theme-toggle{
    width: 5rem;
    height: 5rem;
    background: transparent;
    &::after{
      content: '🌚';
      font-size: 4rem; 
    }
  }

  & .settings__menu-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(52, 51, 51);
        width: 50%;
        height: 40vw;
        margin-top: 1rem;
        

        justify-items: center;
        flex: 1;
        border-radius: 1rem;
        box-shadow: 0 0 20px black;

        font-weight: bold;
        font-size: large;
        text-align: center;
    }
}

body{
    & .theme-toggle{
    width: 5rem;
    height: 5rem;
    background: transparent;
    &::after{
      content: '☀️';
      font-size: 4rem;
    }
  }

  & .settings__menu-main-container{
    margin-top: 1rem;
    background-color: rgb(169, 195, 218);
    box-shadow: 0 0 20px rgba(109, 109, 109, 0.514);
  }
}