        .task-list {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            
        }

        .lefSide--taskaBtn {
            background: none;
            border: transparent 1px dashed;
            padding: 10px;  
            transition: transform 0.3s ease;
            margin: 3px;
            
            
            &:hover{
                border: wheat 1px dashed;
                border-radius: 1rem;
                
                transform: scale(1.1);
            }
        }

.lefSide--LI{
    border-bottom: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    & .lefSide--task{
        font-size: 24px;
    }
}

.Box-LeftSide{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  
}

.lefSide--inputReady {
  // прячем стандартный чекбокс
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1rem;

  height: 1rem;
  border: 2px solid #bababa; // рамка фиолетового цвета
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;

  &:hover {
    border-color: #f8f8f8;
    box-shadow: 0 0 8px rgba(74, 74, 74, 0.6);
    transform: scale(1);
  }

  &:checked {
    background-color: #2e2d39;
    border-color: #6c6b76;

    &::after {
      content: "✔";
      width: auto;
      height: auto;
      color: white;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

