
.main--content-right {
    width: 100vw;
}

.main--content-left {

    display: flex;
    padding: 5%;
    margin-right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 30vw;
    min-height: 40vw;
    flex-wrap: wrap;
    color: white;

    & .left__section-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        & .counter__container{
            color: #647a9c;
            font-size: larger;
            font-weight: bold;
            background-color: wheat;
            border-radius: 0 0 1rem 1rem;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 0;
        }
    }

    & .btn-main__creater{
        font-size: larger;
        background-color: wheat;
        border: 1px transparent dashed;
        border-radius: 1rem 1rem 0 0;  
        margin: 0;
        padding: auto;
        transform: scale(1);               
  transition: transform .3s ease,
              border-color .3s ease;  
        &:hover{
            transform: scale(1);     
            border: 1px dashed #484881;
            box-shadow: 0 0 10px #5555566b, 0 0 20px #5f606056;
        }
    }
    & .btn-main__deleter-all{
        font-size: larger;
        background-color: wheat;
        border: 1px dashed transparent;
        border-radius: 1rem 1rem 0 0;
        margin: auto;
        transition: transform .3s ease,
              border-color .3s ease;  
        &:hover{
            transform: scale(1);  
            border: 1px dashed #484881;
            box-shadow: 0 0 10px #5555566b, 0 0 20px #5f606056;
        }
    }
}

.left__section-main--container {
    display: flex;
    flex-direction: column;
    background: #b7b8b9;
    align-items: center;
    flex: 1;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    border-radius: 1rem;
    margin-left: 1%;
    width: 100%;

    .left__section-middle {
        flex: 1;
        align-self: stretch;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px; // заменил проценты на пиксели для предсказуемости
        color: whitesmoke;


    }
}