.main--content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    overflow: hidden;
    max-width: 100%;
    justify-items: center;
}

.main--content-head {
    grid-row: 1;
    grid-column: 1;
    width: 80%;
    justify-items: center;
}

.main--content-main {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}