.main-info{
    margin-top: 2rem;
    background: linear-gradient(90deg, #a259d9, #6c2eb7, #a259d9);
    background-size: 200% 200%;
    animation: gradient-move 10s linear infinite;
    width: 50%;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;


    & .main-info__search{
        background-color: rgb(139, 46, 221);
        border: 1px dashed gray;
        margin-right: 2rem;
        border-radius: 1rem;
        width: 100%;
        outline: none;
        &::placeholder{
            padding: 10px;
            color: white;
        }
        
    }
    & .main-info__right{
        margin-left: 20px;
        align-self: center;
        
    }
    & .main-info__bottom{
        
        & input{
            background-color: #ffffff;
            border: none;
            border-radius: 10px;
            margin-right: 10px;

        }
        & button {
            background-color: #000000;
            color: white;
            font-weight:400;
            
            border: none;
            border-radius: 10px;

                &::before {
                    content: '+';
                    font-size: 20px;
                    line-height: 1;
                }

        }
    }
    
}

