@use '../styles/normalize' as *;
@use '../styles/fonts' as *;
@use '../styles/main-scss/header' as *;
@use '../styles/main-scss/main/main-aside' as *;
@use '../styles/main-scss/main/main' as *;
@use '../styles/main-scss/main/main-LeftSection' as *;
@use '../styles/main-scss/main/main-RightSection' as *;
@use '../styles/main-scss/main/menu-add/adder';
@use '../styles/main-scss/main/tasks/tasks';
@use '../styles/main-scss/main/tasks/accept-modal';
@use '../styles/main-scss/main/tasks/counter/counter';


body.dark-theme {
  color: black;
  background-color: rgb(38, 38, 38);
  
  & .left__section-main--container{
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 38);
    box-shadow: 0 0 20px black ;
  }

  & .header{
     color: rgb(255, 255, 255);
     background-color: rgb(56, 45, 67);

     & .header__logo{
         color: rgb(255, 255, 255);
     }

     & .menu{
         background-color: rgb(48, 48, 48);

         & .btn--header{
            color: rgb(255, 255, 255);
         }
         
     }
  }
}